<div class="container-fluid">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam autem consequuntur ex explicabo,
    inventore minima nemo, pariatur provident quae quaerat quam tempore voluptate. Alias amet asperiores aspernatur, aut
    consectetur cumque dolores eaque earum error esse eum excepturi fugiat id iure minima modi nemo odio officia optio
    perferendis provident quasi qui quo quod recusandae sequi similique soluta temporibus totam, ut voluptas voluptate
    voluptatem voluptatum. Cum distinctio illo incidunt quam temporibus. Doloribus, ex sed. Alias animi autem beatae
    eligendi esse est expedita fugiat nam nihil nostrum odio optio provident, quam quas tenetur totam vero voluptas?
    Blanditiis dolor expedita magnam totam. Officia.</p>
</div>

